body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-family: cursive;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)),
    url('https://images.unsplash.com/photo-1514876246314-d9a231ea21db?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
}

h2 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.year {
    font-size: 5em;
    color: white;
    font-weight: bold;
}

.countdown {
    margin: 30px;
    background-color: rgba(0,0,0,.1);
    width: 100%;
    color: white;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown div {
    margin: 0 15px;
    font-size: 2.5em;
    font-weight: 500;
    margin-top: -25px;
    position: relative;
    text-align: center;
    width: 100%;
    
}

.countdown div::before {
    content: '';
    position: absolute;
    bottom: -30px;
    font-size: .36em;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    
   
    
    

}

.countdown .day::before {
    content: 'Days';
}

.countdown .hour::before {
    content: 'Hours';
}

.countdown .minutes::before {
    content: 'Minutes';
}

.countdown .second::before {
    content: 'Seconds';
}